<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="JsonPath" value="C:\\Projects\\Github\\SitecoreCustomLanguages\\SitecoreCustomLanguages\\RegisterLanguages\\App_Data\\CultureDefinitions.json"/>
    <add key="ConfigPath" value="C:\\inetpub\\wwwroot\\local.sc92.de\\App_Config\\LanguageDefinitions.config"/>
  </appSettings>
</configuration>